/*Quick styles*/
.red{
    color: red;
}
.orange{
    color: orange;
}
.yellow{
    color: yellow;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.light-blue{
    color: rgb(51, 204, 255);
}
.indigo{
    color: indigo;
}
.violet{
    color: violet;
}
.white{
    color: white;
}
.grey{
    color: grey;
}
.black{
    color: black;
}

.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
/*Quick styles End*/



body{
    margin: 0;
    box-sizing: border-box;
    background: url('../images/black.jpg') no-repeat fixed;
    background-size: cover;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    background-color: rgba(0, 0, 0, 0.753);
    height: 100%;
}

/*-- Header Start --*/
.website-header{
    display: block;
    position: fixed;
    width: 100%;
    height: auto;
    padding: 0.5% 0 0.5% 0;
    box-shadow: 0px 0px 3px 0px rgb(90, 90, 90);
    background-color: rgba(255, 255, 255, 0.959);
    z-index: 1;
    transition: .3s;
}
.brand-name, .menu-links{
    text-decoration: none;
    width: 50%;
}
.brand-name{
    margin-top: 1%;
}
#brand{
    margin: 0% 0 1% 5%;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 150);
    font-size: 20px;
    border: 1.5px solid rgb(0, 0, 150);
    transition: .4s;
}
#brand:hover{
    color: rgb(0, 0, 100);
    border: 1.5px solid rgb(0, 0, 100);
    transition: .4s;
}
.header-content{
    width: 100%;
    display: flex;
}
.menu-links{
    justify-content: center;
    display: flex;
    font-size: 14px;
}
.navbar-link{
    text-decoration: none;
    margin-right: 3%;
    padding: 3px;
    color: rgb(0, 0, 150);
    border-bottom: 2px solid rgba(0, 0, 150, 0);
    transition: .3s;
}
.navbar-link:hover{
    border-bottom: 2px solid rgb(0, 0, 150);
    transition: .3s;
}
.nav-link{
    display: none;
    text-decoration: none;
    margin-right: 3%;
    padding: 3px;
    color: black;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: .3s;
}
.navigate{
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    display: none;
}
/*-- Header End --*/

/*Side navigation*/
.overlay{
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    transition: .5s;
}
.side-nav{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 1px grey;
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 0;
    right: 0;
    top: 0;
    overflow-x: hidden;
    text-align: center;
    transition: .5s;
}
.close i{
    color: rgb(0, 0, 150);
    font-size: 50px;
    cursor: pointer;
    width: max-content;
}
.side-menu-links{
    display: block;
    position: absolute;
    top: 25%;
    width: 100%;
}
.side-menu-links p{
    width: 100%;
}
.side-menu-links a{
    display: flex;
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    color: rgb(0, 0, 150);
    transition: .3s;
}
.side-menu-links a:hover{
    color: white;
    background-color: rgb(0, 0, 150);
    transition: .3s;
}
.close{
    display: block;
    color: white;
}



/*-- Body Start --*/

/*-- Landing Start --*/
.page-body{
    font-family:Tahoma;
    height: auto;
}
.landing-body{
    position: absolute;
    text-align: center;
    color: white;
    display: block;
    font-weight: lighter;
    font-size: 150%;
    padding-bottom: 5%;
    top: 30%;
    width: 100%;
}

.landing-body .hi{
    font-size: 0.8em;
}
.large{
    font-size: 220%;
    font-weight: lighter;
    display: block;
    margin-bottom: 2%;
}
.name{
    opacity: 1;
    animation: appear 18s infinite;
    -webkit-animation: appear 18s infinite;
    position: absolute;
    font-weight: bold;
}
.developer{
    opacity: 0;
    animation: appear2 18s infinite;
    -webkit-animation: appear2 18s infinite;
    position: absolute;
    font-weight: bold;
}
.programmer{
    opacity: 0;
    font-weight: bold;
    animation: appear3 18s infinite;
    -webkit-animation: appear3 18s infinite;
}
@keyframes appear{
    0%   {display: none; opacity: 0;}
    20%  {display: none; opacity: 1;}
    30%  {display: block; opacity: 1;}
    35%  {display: none; opacity: 0;}
    100% {display: none; opacity: 0;}
}
@keyframes appear2{
    0%   {display: none; opacity: 0;}
    35%  {display: none; opacity: 0;}
    55%  {display: block; opacity: 1;}
    65%  {display: block; opacity: 1;}
    70%  {display: none; opacity: 0;}
    100% {display: none; opacity: 0;}
}
@keyframes appear3{
    0%   {display: none; opacity:0;}   
    70%  {display: none; opacity: 0;}   
    85%  {display: block; opacity: 1;}
    95%  {display: block; opacity: 1;}
    100%  {display: none; opacity: 0;}
}
.social-icons{
    font-size: 23px;
    position: absolute;
    width: 100%;
    left: 0%;
}
.social-icons a{
    text-decoration: none;
    margin: 10% 2% 0 2%;
}
.social-icons i:hover{
    transform: rotate(360deg);
    transition: .3s;
}
.social-icons a:hover{
    transform: rotate(360deg);
    transition: .3s;
}
.social-icons .fb i{
    color: rgb(30, 81, 252);
}
.social-icons .ig i{
    color: rgb(255, 117, 140);
}
.social-icons .linkedin i{
    color: blue;
}
.social-icons .email i{
    color: rgb(255, 49, 49);
}
.continue{
    text-decoration: none;
    font-size: 150%;
    color: white;
    position: absolute;
    left: 48%;
    bottom: 5%;
    padding: 1% 0.5% 0.5% 0.5%;
    border: 2px solid white;
    border-radius: 30px;
    animation: bounce 3.5s 3s infinite;
}
.scroll{
    cursor: pointer;
    display: none;
    text-decoration: none;
    font-size: 130%;
    color: white;
    background-color: rgba(24, 24, 24, 0.904);
    box-shadow: 0px 0px 2px 1px rgb(75, 75, 75);
    position: fixed;
    z-index: 1;
    right: 2%;
    bottom: 2%;
    padding: 0% 0.6% 0.2% 0.6%;
    border-radius: 3px;
    transition: .4s;
}
.scroll:hover{
    background-color: rgb(24, 24, 24);
    box-shadow: 0px 0px 4px 1px rgb(75, 75, 75);
    transition: .4s;
    bottom: 3%;
}
@keyframes bounce {
    0%   {bottom: 5%;}
    5%  {bottom: 10%;}
    10%  {bottom: 3.2%;}
    15%  {bottom: 8%;}
    20%  {bottom: 3.7%;}
    25%  {bottom: 6%;}
    30%  {bottom: 4%;}
    35%  {bottom: 5.5%;}
    40%  {bottom: 5%;}
    100% {bottom: 5%;}
  }

/*-- Landing Text End --*/

/*-- About Section Start --*/
.main-body{
    text-align: center;
    height: auto;
    color: rgb(83, 83, 83);
    top: 100%;
    width: 100%;
    position: absolute;
}
.about{
    background-color: rgba(255, 255, 255, 0.970);
    height: auto;
    padding: 5%;
    padding: 5% 20% 5% 20%;
}
.about-body{
    line-height: 30px;
}
.headers{
    color: rgb(83, 83, 83);
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    font-weight: bold;
    padding: 20px;
    box-shadow: 0px 0px 5px 1px rgb(190, 190, 190);
}
.about-text-lg{
    font-size: 1.2em;
}
.skills{
    margin: 5% 0 5% 0;
    color: black;
}
.skills-row-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-row-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills progress{
    height: 5px;
    width: 600px;
}
.progress{
    width: max-content;
    margin: 0 20px 30px 20px;
}
.skill-html{
    display: flex;
}
.html-percent{
    margin-left: auto;
}
.skill-css{
    display: flex;
}
.css-percent{
    margin-left: auto;
}
.skill-js{
    display: flex;
}
.js-percent{
    margin-left: auto;
}
.skill-php{
    display: flex;
}
.php-percent{
    margin-left: auto;
}
/*-- About Section End --*/

/*-- Education Section Start --*/
.education{
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.26);
    color: rgb(83, 83, 83);
    padding: 5% 10% 3% 10%;
    bottom: 0;
}
.education-header{
    color: white;
}
.education-text{
    margin-top: 2%;
}
.education-rows{
    display: block;
    width: 40%;
    padding: 0 0 2% 0;
    margin-bottom: 7%;
    background-color: white;
    transition: .5s;
}
.education-rows:hover{
    background-color: rgba(255, 255, 255, 0.75);
    transition: .5s;
}
.education-row-2{
    margin-left: auto;
}
.text-head{
    background: rgb(83, 83, 83);
    padding: 3% 0;
    margin-bottom: 10%;
    color: white;
}
.edu-date{
    padding-top: 4%;
}
/*-- Education Section End --*/

/*-- Services Section Start --*/
.services{
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.970);
    color: rgb(83, 83, 83);
    padding: 5% 5% 3% 5%;
    bottom: 0;
    margin: 0px;
}
.services-header{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding: 20px;
    box-shadow: 0px 0px 5px 1px rgb(75, 75, 75);
}
.services-sub{
    font-style: italic;
    text-decoration: underline;
}
.services-main{
    margin: 4% 0 0 0;
    margin-left: auto;
    margin-right: auto;
}
.services img{
    width: 30%;
    height: 100px;
    padding: 0 2%;
}
.services-rows{
    border: 2px dashed grey;
    display: flex;
    width: 48%;
    padding: 4% 0 4% 0;
    margin-bottom: 8%;
    text-align: center;
    transition: .5s;
}
.services-rows:hover{
    border: 2px solid grey;
    background: rgba(255, 255, 255, 0.5);
    transition: .5s;
}
.services-row-2{
    margin-left: auto;
    padding-left: 2%;
}
.services-row-2 img{
    padding-left: 2%;
}
/*-- Services Section End --*/

/*Hire Section Start*/
.hire{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(207, 207, 207);
    padding: 5% 5% 3% 5%;
    bottom: 0;
    margin: 0px;
}
.hire-header{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding: 20px;
    box-shadow: 0px 0px 5px 1px rgb(75, 75, 75);
}
.hire-sub{
    font-style: italic;
    text-decoration: underline;
}
.hire-main{
    line-height: 30px;
    display: flex;
    margin: 4% 0 0 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}      
.hire-rows{
    padding-bottom: 2%;
    margin: 1%;
    width: 35%;
    border: 1px solid white;
    border-radius: 10px;
}     
.hire-rows span{
    display: block;
    width: 100%;
    background: white;
    color: black;
    font-weight: 900;
    padding: 3% 0;
    margin-bottom: 10%;
    border-radius: 9px 9px 0 0;
}
.hire-facebook i{
    font-size: 25px;
    margin-left: 1%;
    color: rgb(30, 81, 252);
    text-decoration: none;
}
.hire-facebook i:hover{
    text-decoration: none;
    transform: rotate(360deg);
    transition: .3s;
}
/*Hire Section End*/

/*-- Footer Start --*/
.footer{
    padding: 0.5% 10% 0.5% 10%;
    background-color: rgb(0, 0, 32);
    color: rgb(158, 158, 158);
}
/*-- Footer End --*/

/*-- Body End --*/

/*-- Responsitivity Start --*/
@media only screen and (max-width: 240px){
    .navbar-link{
        display: none;
    }
    .navigate{
        position: absolute;
        display: flex;
        font-size: 18px;
        padding-top: 5px;
        margin: 0;
        color: black;
        width: max-content;
        right: 2%;
    }
    .website-header{
        display: flex;
        padding: 1% 0 1% 0;
        box-shadow: 0px 0px 15px 0px rgb(190, 190, 190);
        background-color: white;
        position: fixed;
        transition: 0s;
    }
    #brand{
        font-size: 15px;
        padding: 1px;
        color: rgb(0, 0, 150);
        border: 1px solid rgb(0, 0, 150);
        width: max-content;
        transition: .4s;
    }
    #brand:hover{
        color: rgb(0, 0, 100);
        border: 1px solid rgb(0, 0, 100);
        transition: .4s;
    }
    .menu-links{
        width: 30%;
    }
    .brand-name{
        margin: 1% 0 1% 0;
        width: 100%;
    }
    .large{
        font-size: 18px;
        margin: 5% 0% 5% 0%;
    }
    .landing-body .hi{
        align-self: center;
        font-size: 12px;
    }
    .social-icons{
        font-size: 10px;
        margin-left: 5%;
    }
    .about-body{
        margin: 0;
        font-size: 13px;
    }
    .about-header{
        font-size: 18px;
        padding: 7px;    
    }
    .skills{
        padding-left: 2%;
        font-size: 10px;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .skills progress{
        width: 100px;
    }
    .skills-row-1{
        display: block;
    }
    .skills-row-2{
        display: block;
    }
    .scroll{
        padding: 0 4px 0 4px;
        font-size: 15px;
    }
    .education .education-header{
        width: auto;
        font-size: 12px;
    }
    .education-rows{
        width: auto;
        font-size: 8px;
    }
    .services-header{
        width: max-content;
        font-size: 12px;
    }
    .services{
        width: auto;
        font-size: 8px;
    }
    .services-rows{
        width: 100%;
        margin: 12% 0 12% 0;
        padding: 5px 0 5px 0;
    }
    .right-content{
        padding: 0 0 0 1%;
    }
    .hire{
        font-size: 10px;
    }
    .hire-header{
        padding: 10px;
        font-size: 18px;
    }   
    .hire-main{
        flex-wrap: wrap;
    }
    .hire-rows{
        margin: 1%;
        padding: 2%;
        width: 100%;
        border: 1px solid black;
    }
    .scroll{
        right: 5%;
        font-size: 22px;
    }
    .footer{
        font-size: 10px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 499px){
    .navbar-link, .navbar-link-alt{
        display: none;
    }
    .website-header{
        display: flex;
        padding: 1.5% 0 1.5% 0;
        box-shadow: 0px 0px 10px 0px rgb(190, 190, 190);
    }
    #brand{
        color: rgb(0, 0, 150);
        border: 1px solid rgb(0, 0, 150);
        width: 100%;
        transition: .4s;
        padding: 2px;
    }
    #brand:hover{
        color: rgb(0, 0, 100);
        border: 1px solid rgb(0, 0, 100);
        transition: .4s;
    }
    .menu-links{
        width: auto;
    }
    .navigate{
        display: block;
        font-size: 22px;
        padding-top: 5px;
        margin: 0;
        color: black;
        text-align: right;
    }
    .brand-name{
        margin: 1% 0 1% 0;
        width: 70%;
    }
    .large{
        font-size: 25px;
        margin: 5% 0% 5% 0%;
    }
    .hi{
        align-self: center;
        font-size: 16px;
    }
    .social-icons{
        font-size: 20px;
    }
    .about{
        padding: 5% 10% 5% 10%;
    }
    .about-body{
        margin: 0;
    }
    .about-header{
        font-size: 20px;
    }
    .skills{
        padding-left: 2%;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .skills progress{
        width: 200px;
    }
    .skills-row-1{
        display: block;
    }
    .skills-row-2{
        display: block;
    }
    .scroll{
        padding: 0 7px 0 7px;
    }
    .education .education-header{
        width: 85%;
        font-size: 18px;
    }
    .education-rows{
        width: auto;
        font-size: 13px;
    }
    .services{
        font-size: 12px;
    }
    .services-header{
        padding: 10px;
        font-size: 18px;
    }
    .services-rows{
        width: 100%;
        padding: 1% 0 1% 0;
    }
    .hire{
        font-size: 12px;
    }
    .hire-header{
        padding: 10px;
        font-size: 18px;
    }   
    .hire-main{
        flex-wrap: wrap;
    }
    .hire-rows{
        margin: 2% 1%;
        width: 100%;
    }
    .scroll{
        right: 5%;
        font-size: 18px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 799px){
    .navbar-link{
        display: none;
    }
    .website-header{
        display: flex;
        padding: 2% 0 2% 0;
        box-shadow: 0px 0px 15px 0px rgb(190, 190, 190);
        background-color: white;
        position: fixed;
        transition: 0s;
    }
    #brand{
        color: rgb(0, 0, 150);
        border: 1px solid rgb(0, 0, 150);
        width: 50%;
        padding: 5px;
        font-size: 24px;
        transition: .4s;
    }
    #brand:hover{
        color: rgb(0, 0, 100);
        border: 1px solid rgb(0, 0, 100);
        transition: .4s;
    }
    .menu-links{
        width: 30%;
    }
    .navigate{
        display: flex;
        font-size: 22px;
        padding-top: 5px;
        margin: 0;
        color: black;
        text-align: right;
    }
    .brand-name{
        margin: 1% 0 1% 0;
        width: 70%;
    }
    .landing-body{
        margin-right: 6%;
    }
    .large{
        font-size: 37px;
        margin: 8% 0% 8% 0%;
    }
    .landing-body .hi{
        align-self: center;
        font-size: 26px;
    }
    .social-icons{
        font-size: 26px;
    }
    .continue{
        text-decoration: none;
        font-size: 120%;
        color: white;
        position: absolute;
        left: 48%;
        bottom: 5%;
        padding: 0.5%;
    }
    .about{
        padding-bottom: 10%;
    }
    .about-body{
        font-size: 23px;
        line-height: 50px;
        width: 100%;
    }
    .about-header{
        font-size: 30px;
        padding: 10px;
    }
    .skills{
        width: 350px;
        font-size: 20px;
        margin-left: -4%;
        line-height: 0;
    }
    .skills progress{
        width: 300px;
    }
    .skills-row-1{
        display: block;
    }
    .skills-row-2{
        display: block;
    }
    .continue{
        font-size: 50px;
        padding: 8px 7px 8px 7px;
    }
    .scroll{
        padding: 3px 10px;
        font-size: 30px;
    }
    .education{
        padding: 10%;
    }
    .education-rows{
        width: auto;
        font-size: 18px;
    }
    .services-rows{
        width: 100%;
        padding: 1% 0 1% 0;
    } 
    .hire-main{
        flex-wrap: wrap;
    }
    .hire-rows{
        margin: 2% 1%;
        width: 100%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px){
    .navbar-link{
        display: none;
    }
    .website-header{
        display: flex;
        padding: 2% 0 2% 0;
        box-shadow: 0px 0px 15px 0px rgb(190, 190, 190);
        background-color: white;
        position: fixed;
        transition: 0s;
    }
    #brand{
        color: rgb(0, 0, 150);
        border: 1px solid rgb(0, 0, 150);
        width: 50%;
        padding: 5px;
        font-size: 24px;
        transition: .4s;
    }
    #brand:hover{
        color: rgb(0, 0, 100);
        border: 1px solid rgb(0, 0, 100);
        transition: .4s;
    }
    .menu-links{
        width: 30%;
    }
    .navigate{
        display: flex;
        font-size: 22px;
        padding-top: 5px;
        margin: 0;
        color: black;
        text-align: right;
    }
    .brand-name{
        margin: 1% 0 1% 0;
        width: 70%;
    }
    .landing-body{
        margin-right: 6%;
    }
    .large{
        font-size: 37px;
        margin: 8% 0% 8% 0%;
    }
    .landing-body .hi{
        align-self: center;
        font-size: 26px;
    }
    .social-icons{
        font-size: 26px;
    }
    .continue{
        text-decoration: none;
        font-size: 120%;
        color: white;
        position: absolute;
        left: 48%;
        bottom: 5%;
        padding: 0.5%;
    }
    .about{
        padding-bottom: 10%;
    }
    .about-body{
        margin: 0;
        font-size: 23px;
        line-height: 50px;
        width: 100%;
    }
    .about-header{
        font-size: 30px;
        padding: 10px;
    }
    .skills{
        width: 350px;
        font-size: 20px;
        margin-left: -4%;
        line-height: 0;
    }
    .skills progress{
        width: 300px;
    }
    .skills-row-1{
        display: block;
    }
    .skills-row-2{
        display: block;
    }
    .continue{
        font-size: 50px;
        padding: 8px 7px 8px 7px;
    }
    .scroll{
        padding: 3px 10px;
        font-size: 30px;
    }
    .education{
        padding: 10%;
    }
    .education-rows{
        width: auto;
        font-size: 18px;
    }
    .services-rows{
        width: 100%;
        padding: 1% 0 1% 0;
    } 
    .hire-main{
        flex-wrap: wrap;
    }
    .hire-rows{
        margin: 2% 1%;
        width: 100%;
    }
}
/*-- Responsitivity End --*/